spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  
  flyway:
    enabled: true
    validate-on-migrate: true

logging:
  level:
    root: WARN
    com.aurelius.tech.eventmanagementservice: INFO


